html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: AlegreayThin;
	src: url(/fonts/alegreya-sans.light.ttf);
}

@font-face {
	font-family: AlegreayRegular;
	src: url(/fonts/alegreya-sans.regular.ttf);
}

body {
	font-family: AlegreayThin;
}

h2 {
	text-align: center;
	font-size: 23px;
	color: #088074;
	margin: 33px 0 10px 0;
}

#main-container {
	width: 100%;
}

#main {
	width: 1000px;
	margin: 0 auto 0 auto;
}

#menu {
	float: right;
	width: 679px;
	height: 33px;
	margin: 7px -15px 0 1px;
	text-align: right;
}

#menu a {
	font-size: 17px;
	color: #088074;
	text-decoration: none;
	display: inline-block;
	margin: 7px 15px 0 15px;
}

#menu a:hover {
	color: #333333;
}

#achievements {
	width: 320px;
	margin: 50px 5px 5px 0;
	float: left;
}

#achievements p {
	text-align: right;
	margin: 10px 10px 10px 10px;
}

#achievements p:nth-of-type(odd) {
	font-size: 21px;
	color: #333333;
	letter-spacing: 1px;
}

#achievements p:nth-of-type(even) {
	font-size: 33px;
	color: #088074;
}

#cycle {
	float: right;
	width: 675px;
	font-size: 33px;
	margin: 50px 0 0 0;
}

#cycle span:nth-of-type(odd) {
	color: #333333;
}

#cycle span:nth-of-type(even) {
	color: #088074;
}

#cycle p {
	font-size: 17px;
	color: #333333;
	margin: 7px 0 0 0;
}

#zidisha {
	width: 1000px;
	padding: 33px 0 33px 0;
	text-align: center;
}

#zidisha div {
	width: 350px;
	float: left;
	text-align: justify;
	margin: 10px 15px 10px 15px;
	font-size: 17px;
	color: #333333;
}

#zidisha div:nth-of-type(odd) {
	margin-top: 20px;
}

#zidisha div:nth-of-type(even) {
	width: 200px;
	text-align: center;
}

#stories {
	width: 1000px;
	float: left;
}

.story-month {
	float: left;
	display: block;
	width: 125px;
	height: 125px;
	margin: 5px;
	text-align: center;
	background: url(/img/SodaCan.jpg) no-repeat;
	background-position: center top;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 4px 4px 7px #000000;
}

.story-month .year {
	font-size: 44px;
	margin: 25px 0 15px 0;
}

.story-month .month {
	font-size: 19px;
}

.story {
	float: left;
	display: block;
	width: 125px;
	height: 125px;
	margin: 5px;
	text-align: center;
	text-decoration: none;
	opacity: 1.0;
	box-shadow: 4px 4px 7px #000000;
}

#_1512001 {
	background: url(/img/zidisha/1512001.jpg) no-repeat;
}

#_1512001:hover {
	background-image: none;
	background-color: #333333;
}

#_1512002 {
	background: url(/img/zidisha/1512002.jpg) no-repeat;
}

#_1512002:hover {
	background-image: none;
	background-color: #333333;
}

#_1512003 {
	background: url(/img/zidisha/1512003.jpg) no-repeat;
}

#_1512003:hover {
	background-image: none;
	background-color: #333333;
}

#_1512004 {
	background: url(/img/zidisha/1512004.jpg) no-repeat;
}

#_1512004:hover {
	background-image: none;
	background-color: #333333;
}

#_1512005 {
	background: url(/img/zidisha/1512005.jpg) no-repeat;
}

#_1512005:hover {
	background-image: none;
	background-color: #333333;
}

#_1512006 {
	background: url(/img/zidisha/1512006.jpg) no-repeat;
}

#_1512006:hover {
	background-image: none;
	background-color: #333333;
}

#_1512007 {
	background: url(/img/zidisha/1512007.jpg) no-repeat;
}

#_1512007:hover {
	background-image: none;
	background-color: #333333;
}

#_1512008 {
	background: url(/img/zidisha/1512008.jpg) no-repeat;
}

#_1512008:hover {
	background-image: none;
	background-color: #333333;
}

#_1512009 {
	background: url(/img/zidisha/1512009.jpg) no-repeat;
}

#_1512009:hover {
	background-image: none;
	background-color: #333333;
}

#_1511001 {
	background: url(/img/zidisha/1511001.jpg) no-repeat;
}

#_1511001:hover {
	background-image: none;
	background-color: #333333;
}

#_1511002 {
	background: url(/img/zidisha/1511002.jpg) no-repeat;
}

#_1511002:hover {
	background-image: none;
	background-color: #333333;
}

#_1511003 {
	background: url(/img/zidisha/1511003.jpg) no-repeat;
}

#_1511003:hover {
	background-image: none;
	background-color: #333333;
}

#_1511004 {
	background: url(/img/zidisha/1511004.jpg) no-repeat;
}

#_1511004:hover {
	background-image: none;
	background-color: #333333;
}

#_1511005 {
	background: url(/img/zidisha/1511005.jpg) no-repeat;
}

#_1511005:hover {
	background-image: none;
	background-color: #333333;
}

#_1511006 {
	background: url(/img/zidisha/1511006.jpg) no-repeat;
}

#_1511006:hover {
	background-image: none;
	background-color: #333333;
}

#_1511007 {
	background: url(/img/zidisha/1511007.jpg) no-repeat;
}

#_1511007:hover {
	background-image: none;
	background-color: #333333;
}

#_1511008 {
	background: url(/img/zidisha/1511008.jpg) no-repeat;
}

#_1511008:hover {
	background-image: none;
	background-color: #333333;
}

#_1511009 {
	background: url(/img/zidisha/1511009.jpg) no-repeat;
}

#_1511009:hover {
	background-image: none;
	background-color: #333333;
}

#_1510001 {
	background: url(/img/zidisha/1510001.jpg) no-repeat;
}

#_1510001:hover {
	background-image: none;
	background-color: #333333;
}

#_1510002 {
	background: url(/img/zidisha/1510002.jpg) no-repeat;
}

#_1510002:hover {
	background-image: none;
	background-color: #333333;
}

#_1510003 {
	background: url(/img/zidisha/1510003.jpg) no-repeat;
}

#_1510003:hover {
	background-image: none;
	background-color: #333333;
}

#_1510004 {
	background: url(/img/zidisha/1510004.jpg) no-repeat;
}

#_1510004:hover {
	background-image: none;
	background-color: #333333;
}

#_1510005 {
	background: url(/img/zidisha/1510005.jpg) no-repeat;
}

#_1510005:hover {
	background-image: none;
	background-color: #333333;
}

#_1510006 {
	background: url(/img/zidisha/1510006.jpg) no-repeat;
}

#_1510006:hover {
	background-image: none;
	background-color: #333333;
}

#_1510007 {
	background: url(/img/zidisha/1510007.jpg) no-repeat;
}

#_1510007:hover {
	background-image: none;
	background-color: #333333;
}

#_1510008 {
	background: url(/img/zidisha/1510008.jpg) no-repeat;
}

#_1510008:hover {
	background-image: none;
	background-color: #333333;
}

#_1510009 {
	background: url(/img/zidisha/1510009.jpg) no-repeat;
}

#_1510009:hover {
	background-image: none;
	background-color: #333333;
}

#_1510010 {
	background: url(/img/zidisha/1510010.jpg) no-repeat;
}

#_1510010:hover {
	background-image: none;
	background-color: #333333;
}

#_1510011 {
	background: url(/img/zidisha/1510011.jpg) no-repeat;
}

#_1510011:hover {
	background-image: none;
	background-color: #333333;
}

#_1509001 {
	background: url(/img/zidisha/1509001.jpg) no-repeat;
}

#_1509001:hover {
	background-image: none;
	background-color: #333333;
}

#_1509002 {
	background: url(/img/zidisha/1509002.jpg) no-repeat;
}

#_1509002:hover {
	background-image: none;
	background-color: #333333;
}

#_1509003 {
	background: url(/img/zidisha/1509003.jpg) no-repeat;
}

#_1509003:hover {
	background-image: none;
	background-color: #333333;
}

#_1509004 {
	background: url(/img/zidisha/1509004.jpg) no-repeat;
}

#_1509004:hover {
	background-image: none;
	background-color: #333333;
}

#_1509005 {
	background: url(/img/zidisha/1509005.jpg) no-repeat;
}

#_1509005:hover {
	background-image: none;
	background-color: #333333;
}

#_1509006 {
	background: url(/img/zidisha/1509006.jpg) no-repeat;
}

#_1509006:hover {
	background-image: none;
	background-color: #333333;
}

#_1509007 {
	background: url(/img/zidisha/1509007.jpg) no-repeat;
}

#_1509007:hover {
	background-image: none;
	background-color: #333333;
}

#_1509008 {
	background: url(/img/zidisha/1509008.jpg) no-repeat;
}

#_1509008:hover {
	background-image: none;
	background-color: #333333;
}

#_1509009 {
	background: url(/img/zidisha/1509009.jpg) no-repeat;
}

#_1509009:hover {
	background-image: none;
	background-color: #333333;
}

#_1509010 {
	background: url(/img/zidisha/1509010.jpg) no-repeat;
}

#_1509010:hover {
	background-image: none;
	background-color: #333333;
}

#_1509011 {
	background: url(/img/zidisha/1509011.jpg) no-repeat;
}

#_1509011:hover {
	background-image: none;
	background-color: #333333;
}

#_1509012 {
	background: url(/img/zidisha/1509012.jpg) no-repeat;
}

#_1509012:hover {
	background-image: none;
	background-color: #333333;
}

#_1509013 {
	background: url(/img/zidisha/1509013.jpg) no-repeat;
}

#_1509013:hover {
	background-image: none;
	background-color: #333333;
}

#_1509014 {
	background: url(/img/zidisha/1509014.jpg) no-repeat;
}

#_1509014:hover {
	background-image: none;
	background-color: #333333;
}

#_1509015 {
	background: url(/img/zidisha/1509015.jpg) no-repeat;
}

#_1509015:hover {
	background-image: none;
	background-color: #333333;
}

#_1509016 {
	background: url(/img/zidisha/1509016.jpg) no-repeat;
}

#_1509016:hover {
	background-image: none;
	background-color: #333333;
}

#_1508001 {
	background: url(/img/zidisha/1508001.jpg) no-repeat;
}

#_1508001:hover {
	background-image: none;
	background-color: #333333;
}

#_1508002 {
	background: url(/img/zidisha/1508002.jpg) no-repeat;
}

#_1508002:hover {
	background-image: none;
	background-color: #333333;
}

#_1508003 {
	background: url(/img/zidisha/1508003.jpg) no-repeat;
}

#_1508003:hover {
	background-image: none;
	background-color: #333333;
}

#_1508004 {
	background: url(/img/zidisha/1508004.jpg) no-repeat;
}

#_1508004:hover {
	background-image: none;
	background-color: #333333;
}

#_1508005 {
	background: url(/img/zidisha/1508005.jpg) no-repeat;
}

#_1508005:hover {
	background-image: none;
	background-color: #333333;
}

#_1508006 {
	background: url(/img/zidisha/1508006.jpg) no-repeat;
}

#_1508006:hover {
	background-image: none;
	background-color: #333333;
}

#_1508007 {
	background: url(/img/zidisha/1508007.jpg) no-repeat;
}

#_1508007:hover {
	background-image: none;
	background-color: #333333;
}

#_1508008 {
	background: url(/img/zidisha/1508008.jpg) no-repeat;
}

#_1508008:hover {
	background-image: none;
	background-color: #333333;
}

#_1508009 {
	background: url(/img/zidisha/1508009.jpg) no-repeat;
}

#_1508009:hover {
	background-image: none;
	background-color: #333333;
}

#_1508010 {
	background: url(/img/zidisha/1508010.jpg) no-repeat;
}

#_1508010:hover {
	background-image: none;
	background-color: #333333;
}

#_1508011 {
	background: url(/img/zidisha/1508011.jpg) no-repeat;
}

#_1508011:hover {
	background-image: none;
	background-color: #333333;
}

#_1508012 {
	background: url(/img/zidisha/1508012.jpg) no-repeat;
}

#_1508012:hover {
	background-image: none;
	background-color: #333333;
}

#_1508013 {
	background: url(/img/zidisha/1508013.jpg) no-repeat;
}

#_1508013:hover {
	background-image: none;
	background-color: #333333;
}

#_1508014 {
	background: url(/img/zidisha/1508014.jpg) no-repeat;
}

#_1508014:hover {
	background-image: none;
	background-color: #333333;
}

#_1507001 {
	background: url(/img/zidisha/1507001.jpg) no-repeat;
}

#_1507001:hover {
	background-image: none;
	background-color: #333333;
}

#_1507002 {
	background: url(/img/zidisha/1507002.jpg) no-repeat;
}

#_1507002:hover {
	background-image: none;
	background-color: #333333;
}

#_1507003 {
	background: url(/img/zidisha/1507003.jpg) no-repeat;
}

#_1507003:hover {
	background-image: none;
	background-color: #333333;
}

#_1507004 {
	background: url(/img/zidisha/1507004.jpg) no-repeat;
}

#_1507004:hover {
	background-image: none;
	background-color: #333333;
}

#_1507005 {
	background: url(/img/zidisha/1507005.jpg) no-repeat;
}

#_1507005:hover {
	background-image: none;
	background-color: #333333;
}

#_1507006 {
	background: url(/img/zidisha/1507006.jpg) no-repeat;
}

#_1507006:hover {
	background-image: none;
	background-color: #333333;
}

#_1507007 {
	background: url(/img/zidisha/1507007.jpg) no-repeat;
}

#_1507007:hover {
	background-image: none;
	background-color: #333333;
}

#_1507008 {
	background: url(/img/zidisha/1507008.jpg) no-repeat;
}

#_1507008:hover {
	background-image: none;
	background-color: #333333;
}

#_1507009 {
	background: url(/img/zidisha/1507009.jpg) no-repeat;
}

#_1507009:hover {
	background-image: none;
	background-color: #333333;
}

#_1507010 {
	background: url(/img/zidisha/1507010.jpg) no-repeat;
}

#_1507010:hover {
	background-image: none;
	background-color: #333333;
}

#_1507011 {
	background: url(/img/zidisha/1507011.jpg) no-repeat;
}

#_1507011:hover {
	background-image: none;
	background-color: #333333;
}

#_1507012 {
	background: url(/img/zidisha/1507012.jpg) no-repeat;
}

#_1507012:hover {
	background-image: none;
	background-color: #333333;
}

#_1507013 {
	background: url(/img/zidisha/1507013.jpg) no-repeat;
}

#_1507013:hover {
	background-image: none;
	background-color: #333333;
}

#_1507014 {
	background: url(/img/zidisha/1507014.jpg) no-repeat;
}

#_1507014:hover {
	background-image: none;
	background-color: #333333;
}

#_1507015 {
	background: url(/img/zidisha/1507015.jpg) no-repeat;
}

#_1507015:hover {
	background-image: none;
	background-color: #333333;
}

#_1507016 {
	background: url(/img/zidisha/1507016.jpg) no-repeat;
}

#_1507016:hover {
	background-image: none;
	background-color: #333333;
}

#_1507017 {
	background: url(/img/zidisha/1507017.jpg) no-repeat;
}

#_1507017:hover {
	background-image: none;
	background-color: #333333;
}
#_1506001 {
	background: url(/img/zidisha/1506001.jpg) no-repeat;
}

#_1506001:hover {
	background-image: none;
	background-color: #333333;
}

#_1506002 {
	background: url(/img/zidisha/1506002.jpg) no-repeat;
}

#_1506002:hover {
	background-image: none;
	background-color: #333333;
}

#_1506003 {
	background: url(/img/zidisha/1506003.jpg) no-repeat;
}

#_1506003:hover {
	background-image: none;
	background-color: #333333;
}

#_1506004 {
	background: url(/img/zidisha/1506004.jpg) no-repeat;
}

#_1506004:hover {
	background-image: none;
	background-color: #333333;
}

#_1506005 {
	background: url(/img/zidisha/1506005.jpg) no-repeat;
}

#_1506005:hover {
	background-image: none;
	background-color: #333333;
}

#_1506006 {
	background: url(/img/zidisha/1506006.jpg) no-repeat;
}

#_1506006:hover {
	background-image: none;
	background-color: #333333;
}

#_1506007 {
	background: url(/img/zidisha/1506007.jpg) no-repeat;
}

#_1506007:hover {
	background-image: none;
	background-color: #333333;
}

#_1506008 {
	background: url(/img/zidisha/1506008.jpg) no-repeat;
}

#_1506008:hover {
	background-image: none;
	background-color: #333333;
}

#_1506009 {
	background: url(/img/zidisha/1506009.jpg) no-repeat;
}

#_1506009:hover {
	background-image: none;
	background-color: #333333;
}

#_1506010 {
	background: url(/img/zidisha/1506010.jpg) no-repeat;
}

#_1506010:hover {
	background-image: none;
	background-color: #333333;
}

#_1506011 {
	background: url(/img/zidisha/1506011.jpg) no-repeat;
}

#_1506011:hover {
	background-image: none;
	background-color: #333333;
}

#_1505001 {
	background: url(/img/zidisha/1505001.jpg) no-repeat;
}

#_1505001:hover {
	background-image: none;
	background-color: #333333;
}

#_1505002 {
	background: url(/img/zidisha/1505002.jpg) no-repeat;
}

#_1505002:hover {
	background-image: none;
	background-color: #333333;
}

#_1505003 {
	background: url(/img/zidisha/1505003.jpg) no-repeat;
}

#_1505003:hover {
	background-image: none;
	background-color: #333333;
}

#_1505004 {
	background: url(/img/zidisha/1505004.jpg) no-repeat;
}

#_1505004:hover {
	background-image: none;
	background-color: #333333;
}

#_1505005 {
	background: url(/img/zidisha/1505005.jpg) no-repeat;
}

#_1505005:hover {
	background-image: none;
	background-color: #333333;
}

#_1505006 {
	background: url(/img/zidisha/1505006.jpg) no-repeat;
}

#_1505006:hover {
	background-image: none;
	background-color: #333333;
}

#_1505007 {
	background: url(/img/zidisha/1505007.jpg) no-repeat;
}

#_1505007:hover {
	background-image: none;
	background-color: #333333;
}

#_1505008 {
	background: url(/img/zidisha/1505008.jpg) no-repeat;
}

#_1505008:hover {
	background-image: none;
	background-color: #333333;
}

#_1505009 {
	background: url(/img/zidisha/1505009.jpg) no-repeat;
}

#_1505009:hover {
	background-image: none;
	background-color: #333333;
}

#_1505010 {
	background: url(/img/zidisha/1505010.jpg) no-repeat;
}

#_1505010:hover {
	background-image: none;
	background-color: #333333;
}

#_1505011 {
	background: url(/img/zidisha/1505011.jpg) no-repeat;
}

#_1505011:hover {
	background-image: none;
	background-color: #333333;
}

#_1505012 {
	background: url(/img/zidisha/1505012.jpg) no-repeat;
}

#_1505012:hover {
	background-image: none;
	background-color: #333333;
}

#_1504001 {
	background: url(/img/zidisha/1504001.jpg) no-repeat;
}

#_1504001:hover {
	background-image: none;
	background-color: #333333;
}

#_1504002 {
	background: url(/img/zidisha/1504002.jpg) no-repeat;
}

#_1504002:hover {
	background-image: none;
	background-color: #333333;
}

#_1504003 {
	background: url(/img/zidisha/1504003.jpg) no-repeat;
}

#_1504003:hover {
	background-image: none;
	background-color: #333333;
}

#_1504004 {
	background: url(/img/zidisha/1504004.jpg) no-repeat;
}

#_1504004:hover {
	background-image: none;
	background-color: #333333;
}

#_1504005 {
	background: url(/img/zidisha/1504005.jpg) no-repeat;
}

#_1504005:hover {
	background-image: none;
	background-color: #333333;
}

#_1504006 {
	background: url(/img/zidisha/1504006.jpg) no-repeat;
}

#_1504006:hover {
	background-image: none;
	background-color: #333333;
}

#_1504007 {
	background: url(/img/zidisha/1504007.jpg) no-repeat;
}

#_1504007:hover {
	background-image: none;
	background-color: #333333;
}

#_1504008 {
	background: url(/img/zidisha/1504008.jpg) no-repeat;
}

#_1504008:hover {
	background-image: none;
	background-color: #333333;
}

#_1504009 {
	background: url(/img/zidisha/1504009.jpg) no-repeat;
}

#_1504009:hover {
	background-image: none;
	background-color: #333333;
}

#_1504010 {
	background: url(/img/zidisha/1504010.jpg) no-repeat;
}

#_1504010:hover {
	background-image: none;
	background-color: #333333;
}

#_1504011 {
	background: url(/img/zidisha/1504011.jpg) no-repeat;
}

#_1504011:hover {
	background-image: none;
	background-color: #333333;
}

#_1504012 {
	background: url(/img/zidisha/1504012.jpg) no-repeat;
}

#_1504012:hover {
	background-image: none;
	background-color: #333333;
}

#_1503001 {
	background: url(/img/zidisha/1503001.jpg) no-repeat;
}

#_1503001:hover {
	background-image: none;
	background-color: #333333;
}

#_1503002 {
	background: url(/img/zidisha/1503002.jpg) no-repeat;
}

#_1503002:hover {
	background-image: none;
	background-color: #333333;
}

#_1503003 {
	background: url(/img/zidisha/1503003.jpg) no-repeat;
}

#_1503003:hover {
	background-image: none;
	background-color: #333333;
}

#_1503004 {
	background: url(/img/zidisha/1503004.jpg) no-repeat;
}

#_1503004:hover {
	background-image: none;
	background-color: #333333;
}

#_1503005 {
	background: url(/img/zidisha/1503005.jpg) no-repeat;
}

#_1503005:hover {
	background-image: none;
	background-color: #333333;
}

#_1503006 {
	background: url(/img/zidisha/1503006.jpg) no-repeat;
}

#_1503006:hover {
	background-image: none;
	background-color: #333333;
}

#_1503007 {
	background: url(/img/zidisha/1503007.jpg) no-repeat;
}

#_1503007:hover {
	background-image: none;
	background-color: #333333;
}

#_1503008 {
	background: url(/img/zidisha/1503008.jpg) no-repeat;
}

#_1503008:hover {
	background-image: none;
	background-color: #333333;
}

#_1503009 {
	background: url(/img/zidisha/1503009.jpg) no-repeat;
}

#_1503009:hover {
	background-image: none;
	background-color: #333333;
}

#_1503010 {
	background: url(/img/zidisha/1503010.jpg) no-repeat;
}

#_1503010:hover {
	background-image: none;
	background-color: #333333;
}

#_1503011 {
	background: url(/img/zidisha/1503011.jpg) no-repeat;
}

#_1503011:hover {
	background-image: none;
	background-color: #333333;
}

#_1501001 {
	background: url(/img/zidisha/1501001.jpg) no-repeat;
}

#_1501001:hover {
	background-image: none;
	background-color: #333333;
}

#_1501002 {
	background: url(/img/zidisha/1501002.jpg) no-repeat;
}

#_1501002:hover {
	background-image: none;
	background-color: #333333;
}

#_1412001 {
	background: url(/img/zidisha/1412001.jpg) no-repeat;
}

#_1412001:hover {
	background-image: none;
	background-color: #333333;
}

.story p {
	visibility: hidden;
}

.story:hover p {
	visibility: visible;
}

.story .loan {
	font-size: 13px;
	color: #088074;
	text-shadow: 2px 2px 4px #000000;
	margin: 5px 0 15px 0;
}

.story .project {
	font-size: 11px;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

#map-container {
	width: 100%;
	background: #ffffff;
	padding: 25px 0 25px 0;
}

#map-inner {
	width: 800px;
	height: 400px;
	margin: 0 auto 0 auto;
}

#map {
	width: 800px;
	height: 400px;
}

.cleaner {
	clear: both;
}

.popup p {
	margin: 1px;
}

.popup p:nth-of-type(1) {
	font-weight: bold;
}

#about-container {
	width: 100%;
	background: #ffffff;
	padding: 25px 0 25px 0;
}

#about {
	width: 1000px;
	margin: 0 auto 0 auto;
}

#process-container {
	width: 100%;
	min-width: 1000px;
	background: #088074;
	margin: 50px 0 50px 0;
	padding: 50px 0 50px 0;
}

#process {
	width: 1000px;
	margin: 0 auto 0 auto;
	text-align: center;
}

#process a {
	text-decoration: none;
	color: #eeeeee;
}

#process div {
	float: left;
	width: 330px;
}

#process h3 {
	font-size: 23px;
}

#process p {
	margin: 10px 33px 0 33px;
}

#contacts-container {
	width: 100%;
	min-width: 1000px;
	background: #333333;
	padding: 25px 0 25px 0;
}

#contacts {
	width: 1000px;
	margin: 0 auto 0 auto;
	color: #eeeeee;
}

.contact {
	float: right;
	width: 230px;
	padding: 0 10px 0 10px;
}

.contact p {
	margin: 10px 0 10px 0;
}

.contact a {
	text-decoration: none;
	color: #eeeeee;
	display: block;
	text-align: right;
}

.separate {
	text-align: center;
}

.contact-page {
	padding: 133px 0 33px 0;
}

.contact-page p {
	margin: 10px 0 10px 0;
}
